<app-filter
  (filterKey)="filterKey($event)"
  [status]="status"
  [fromList]="fromList"
  [selectedView]="selectedView"
  (filterList)="filterList($event)"
></app-filter>
<h1>Submissions</h1>
<div class="table">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          <mat-checkbox
            [(ngModel)]="parentCheckBox"
            (change)="onParentChange()"
          ></mat-checkbox>
        </th>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Due Date</th>
      </tr>
    </thead>
    <ng-container *ngIf="list | filter: searchFilter as result">
      <tbody
        *ngFor="
          let item of result
            | slice
              : paginationObj.currentPage * paginationObj.pageSize -
                  paginationObj.pageSize
              : paginationObj.currentPage * paginationObj.pageSize
            | filter: searchFilter;
          let i = index
        "
      >
        <tr>
          <td scope="col">
            <mat-checkbox
              (change)="onChildChange()"
              [(ngModel)]="item.isChecked"
            ></mat-checkbox>
          </td>
          <td>{{ item.title }}</td>
          <td>
            <div class="not-completed" *ngIf="item.status === 'Uncomplete'">
              <div class="circle"></div>
              <span>{{ item.status }} </span>
            </div>
            <div class="low-risk" *ngIf="item.status === 'Low Risk'">
              <div class="circle"></div>
              <span>{{ item.status }} </span>
            </div>
            <div class="needs-review" *ngIf="item.status === 'Need Review'">
              <div class="circle"></div>
              <span>{{ item.status }} </span>
            </div>
          </td>
          <td>{{ item.from }}</td>
          <td>{{ item.to }}</td>
          <td>{{ item.address }}</td>
          <td [ngClass]="{ highlight: i % 2 !== 0 }">
            {{ commonService.getDate(item.date) }}
          </td>
        </tr>
      </tbody>
      <div class="noData" *ngIf="result.length === 0">
        <p>No Records Found</p>
      </div>
    </ng-container>
  </table>
  <div class="info">
    {{
      paginationObj.currentPage * paginationObj.pageSize -
        paginationObj.pageSize +
        1
    }}
    - {{ paginationObj.currentPage * paginationObj.pageSize }} of
    {{ list.length }} submissions
  </div>
  <div class="pagination">
    <a
      [ngClass]="{ disable: paginationObj.currentPage === 1 }"
      (click)="paginationObj.currentPage = paginationObj.currentPage - 1"
    >
      &laquo;
    </a>
    <a
      *ngFor="
        let item of [].constructor(paginationObj.totalPages);
        let i = index
      "
      [ngClass]="{
        disable:
          paginationObj.currentPage === i &&
          paginationObj.currentPage >= list.length / paginationObj.pageSize,
        active: paginationObj.currentPage === i + 1
      }"
      (click)="paginationObj.currentPage = i + 1"
    >
      {{ i + 1 }}
    </a>
    <a
      [ngClass]="{
        disable:
          paginationObj.currentPage >= list.length / paginationObj.pageSize
      }"
      (click)="paginationObj.currentPage = paginationObj.currentPage + 1"
    >
      &raquo;
    </a>
  </div>
</div>
