.left {
  max-width: 30%;
  .cards {
    border: 1px solid #b8b9bc;
    padding: 10px;
    width: 430px;
    margin: 15px 0px 0px 45px;
    .cards-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
.noData {
  padding: 10px;
  width: 430px;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0px 0px 45px;
}
.right {
  max-width: 70%;
}

.not-completed {
  border: 1px solid #ff3d00;
  padding: 10px;
  height: 29px;
  background: #ffece6;
  display: flex;
  align-items: center;
  border-radius: 5px;
  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #ff3d00;
  }
  span {
    color: #ff3d00;
  }
}

.needs-review {
  border: 1px solid #b8b9bc;
  padding: 10px;
  height: 29px;
  background: #ececed;
  display: flex;
  align-items: center;
  border-radius: 5px;
  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #b8b9bc;
  }
  span {
    color: #b8b9bc;
  }
}

.from {
  color: #b8b9bc;
}

.mt-5 {
  margin-top: 9px !important;
}
.low-risk {
  border: 1px solid #53d86a;
  padding: 10px;
  background: #d7e5da;
  display: flex;
  height: 29px;
  align-items: center;
  border-radius: 5px;
  .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
    background: #53d86a;
  }
  span {
    color: #53d86a;
  }
}
agm-map {
  height: 700px;
  width: 1250px;
}
.section {
  display: flex;
  .left {
    height: calc(100vh - 210px);
    overflow: auto;
    padding: 0px 10px 0px 0px;
    overflow-x: hidden;
  }
  .right {
    margin: 19px;
  }
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h1 {
  margin: 15px 0px 0px 45px;
  font-weight: 500;
  font-size: 32px;
}
